
/* колір основного тексту #212121 */
/* колір другорядного тексту  #757575 */
/* колір футера тексту rgba(255, 255, 255, 0.6) */
/* колір фону Наша Команда #F5F4FA */
/* білий #FFFFFF */
/* чорний #000000 */
/* акцент #2196F3 */

:root {
   /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --main-txt-cl: #212121;
    --second-txt-cl: #757575
    --accent-txt-cl: #2196F3;
    --btn-txt-cl: #ffffff;

    /* bg colors */
    --light-bg-cl: #E5E5E5;
    --gray-bg-cl: #F5F4FA
    --dark-bg-cl: #2F303A;
    --white-bg-cl: #ffffff
    

    /* others */

}

body {
    background-color: #E5E5E5;
    color: #212121;

    font-family: var(main-font);
    color: var(-main-txt-cl);
}



.list {
    list-style: none;
}

.btn {
    background-color: var(--accent-txt-cl);
    color: var(--btn-txt-cl);
    cursor: pointer;

}

/**
  |============================
  | Header section
  |============================
*/
.header {
    background-color: var(--white-bg-cl);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl)
}

.logo-accent {
    color: #000000;
}
/**
  |============================
  | footer section
  |============================
*/
.footer {
  background-color: var(--dark-bg-cl);
  color: var(-main-txt-cl);  
}